<head>
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      // console.log(angular);
      var e = document.getElementById('app');
      var $scope = angular.element(e).scope();
      console.log("printing some shit: " + $scope);
      let asd = [['Name of Technology', 'Percentage (%)']];
      for (var index in $scope.calculations) {
        if ($scope.calculations.hasOwnProperty(index)) {
          asd.push([$scope.calculations[index].word, $scope.calculations[index].trendCalculation]);
        }
      }
      console.log('asd: ' + asd);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable(asd);

        var options = {
          title: 'Hot Technology Predictor',
          width: 900,
          legend: { position: 'none' },
          chart: { title: 'Hottest Trending Technology',
                   subtitle: 'probability of trending' },
          bars: 'vertical', // Required for Material Bar Charts.
          axes: {
            y: {
              0: { side: 'left', label: 'Percentage (%)'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
    </script>
  </head>
  <body>
    <div id="top_x_div" style="width: 900px; height: 500px;"></div>
  </body>
